.back, .next, a{
    margin-top: 5px;
    background-color: #2880b9;
    color: white;
    text-decoration: none;
    width: 70px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}

.gambar-kecil{
    width:200px;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
